<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
    <div class="mb-2 mb-md-0">
      ©
      <script>
        document.write(new Date().getFullYear());
      </script>
      YT Channel Analyzer. Made with ❤️ for YouTube Analytics
    </div>
    <div>
      <a href="/learn" class="footer-link me-4">Documentation</a>
      <a href="/api-usage" class="footer-link me-4">API Usage</a>
      <a href="/tasks" class="footer-link">Tasks</a>
    </div>
  </div>
</footer>